@import "variables.scss";
@import "breakpoints.scss";
@import "common.scss";
@import "about.scss";
@import "customers.scss";
@import "features.scss";
@import "footer.scss";
@import "header.scss";
@import "headline.scss";
@import "tips.scss";
@import "orders.scss";
@import "audience.scss";
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: $text-color-dark;
}

body {
  font-family: "Work Sans", sans-serif;
}

.page {
  width: 100%;
  overflow-x: hidden;
  @include for-large-up {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
